<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063109442131-qhibpac0bjj2p6uicuj0d3pfgjh1krdv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063109442131-qhibpac0bjj2p6uicuj0d3pfgjh1krdv</string>
	<key>API_KEY</key>
	<string>AIzaSyACOlWXelESb6bYathGK8vG1lFvScwb8V4</string>
	<key>GCM_SENDER_ID</key>
	<string>1063109442131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nifty.cbm01799.Swift5ChatApp02</string>
	<key>PROJECT_ID</key>
	<string>swift5chatapp02</string>
	<key>STORAGE_BUCKET</key>
	<string>swift5chatapp02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063109442131:ios:a6ecb5377cb646d40d24a6</string>
	<key>DATABASE_URL</key>
	<string>https://swift5chatapp02.firebaseio.com</string>
</dict>
</plist>